# Build database

## Import

In [1]:
import pandas as pd

## Load datasets

In [2]:
# Open Exoplanet Catalogue
url = "https://raw.githubusercontent.com/OpenExoplanetCatalogue/oec_tables/master/comma_separated/open_exoplanet_catalogue.txt"
oec_df = pd.read_csv(url)
oec_df.head()

,name,binaryflag,mass,radius,period,semimajoraxis,eccentricity,periastron,longitude,ascendingnode,...,lastupdate,system_rightascension,system_declination,system_distance,hoststar_mass,hoststar_radius,hoststar_metallicity,hoststar_temperature,hoststar_age,list
0,KOI-1843.03,0,0.0014,0.054,0.176891,0.0048,NaN,NaN,NaN,NaN,...,13/07/15,19 00 03.1450,+40 13 14.7985,134.833,0.52,0.50,0.07,3687.0,NaN,Controversial
1,Kepler-974 b,0,NaN,0.140,4.194497,0.0390,NaN,NaN,NaN,NaN,...,17/11/28,19 00 03.1450,+40 13 14.7985,134.833,0.52,0.50,0.07,3687.0,NaN,Confirmed planets
2,KOI-1843.02,0,NaN,0.071,6.356006,0.0520,NaN,NaN,NaN,NaN,...,NaN,19 00 03.1450,+40 13 14.7985,134.833,0.52,0.50,0.07,3687.0,NaN,Controversial
3,Kepler-9 b,0,0.2500,0.840,19.224180,0.1430,0.0626,NaN,NaN,NaN,...,15/12/03,19 02 17.7544,+38 24 03.1772,650.000,1.07,1.02,0.12,5777.0,NaN,Confirmed planets
4,Kepler-9 c,0,0.1700,0.820,39.031060,0.2290,0.0684,NaN,NaN,NaN,...,15/12/03,19 02 17.7544,+38 24 03.1772,650.000,1.07,1.02,0.12,5777.0,NaN,Confirmed planets

In [22]:
oec_df.loc[(~oec_df.name.isnull()) & (oec_df.name.str.contains("ctl"))]

Empty DataFrame
Columns: [name, binaryflag, mass, radius, period, semimajoraxis, eccentricity, periastron, longitude, ascendingnode, inclination, temperature, age, discoverymethod, discoveryyear, lastupdate, system_rightascension, system_declination, system_distance, hoststar_mass, hoststar_radius, hoststar_metallicity, hoststar_temperature, hoststar_age, list]
Index: []

[0 rows x 25 columns]

In [18]:
# Count word occurrence in productName column (excluding collection: e.g. W16 or S15)
word_occurrence = oec_df.name.str.lower().str.replace(r"[.,;]*", "", regex=True).str.replace(r"\d*", "", regex=True).str.replace("-", " ").str.split(' ', expand=True).stack().value_counts()

# Convert series to a DataFrame and name column as "word_occurence"
word_occurrence = word_occurrence.to_frame(name="word_occurrence")
word_occurrence

          word_occurrence
                     4471
b                    3347
kepler               2334
c                     778
hd                    623
...                   ...
uscoctio                1
sr                      1
jupiter                 1
cfbdsir                 1
del                     1

[215 rows x 1 columns]

In [20]:
print(word_occurrence.index.to_list())

['', 'b', 'kepler', 'c', 'hd', 'k', 'd', 'wasp', 'blg', 'l', 'e', 'epic', 'a', 'ogle', 'toi', 'hats', 'koi', 'gj', 'hat', 'p', 'hip', 'gliese', 'f', 'corot', 'moa', 'kic', 'kmt', 'tau', 'kelt', '(ab)', 'ngts', 'g', 'bd+', 'xo', 'qatar', 'tr', 'hr', 'j', 'vir', 'tyc', 'psr', '+', 'cet', 'trappist', 'ceti', 'cancri', 'h', 'bd', 'm', 'v', 'dmpp', 'mass', 'uma', 'mu', 'tres', 'lhs', 'centauri', 'arae', 'upsilon', 'andromedae', 'beta', 'ab', 'gamma', 'ltt', 'wolf', 'oph', 'ph', 'pic', 'lkca', 'yz', 'hu', 'eps', 'j+', 'ybp', 'mascara', 'aqr', 'peg', 'coronae', 'nu', 'leonis', 'pr', 'borealis', 'lp', 'proxima', 'a(ab)', 'ngc', 'sand', 'eta', 'leo', 'ursae', 'boo', 'bin', 'rho', 'pds', 'sex', 'usco', 'sweeps', 'gat', 'ucf', 'her', 'crb', 'minoris', 'alf', 'wendelstein', 'roxs', 'kapteyn', 'cma', 'wts', 'omi', 'n', 'and', 'ny', 's', 'ross', 'draconis', 'wd', 'alpha', 'lyr', 'nn', 'gl', 'ari', 'kappa', 'ser', 'i', 'aql', 'psi', 'psc', 'indi', 'gu', 'iota', 'lyn', 'no', 'j+l', 'mercury', 'vhs', 'tap', 'wise', 'epsilon', 'dp', 'aquarii', 'pso', 'venus', 'rxs', 'hw', 'neptune', 'chxr', 'cvn', 'tcp', 'ds', 'lspm', 'cha', 'mic', 'lalande', 'for', 'yses', 'cae', 'earth', 'pots', 'eridani', 'ic', 'lup', 'cvso', 'fn', 'corotid', 'fl', 'fu', 'librai', 'xi', 'b+', 'uranus', 'saturn', 'cephei', 'au', 'lupus', 'rr', 'tic', 'serpentis', 'cygni', 'trojan', 'gq', 'cfbds', 'gsc', 'omega', 'ptfo', 'sdss', 'kps', 'swasp', 'umi', 'uz', 'pluto', 'x', 'ci', 'com', 'oct', 'dh', 'simp+', 'fomalhaut', 'ct', 'eri', 'dra', 'tuc', 'libra', 'de', 'vb', 'gem', 'nsvs', 'mars', 'ukirt', 'hn', 'fw', 'uscoctio', 'sr', 'jupiter', 'cfbdsir', 'del']

In [ ]:
# Count word occurrence in productName column (excluding collection: e.g. W16 or S15)
# word_occurrence = oec_df.name.str.lower().str.replace(r"[WwSs]\d{2}", "", regex=True).str.replace(".", "").str.replace(",", "").str.split(' ', expand=True).stack().value_counts()

# Convert series to a DataFrame and name column as "word_occurence"
# word_occurrence = word_occurrence.to_frame(name="word_occurrence")

## Missing values

In [4]:
oec_df.loc[oec_df.name.isnull()].T

                                      1943
name                                   NaN
binaryflag                               0
mass                               0.01517
radius                              0.1909
period                              6.2682
semimajoraxis                      0.06839
eccentricity                           0.0
periastron                             NaN
longitude                              NaN
ascendingnode                          NaN
inclination                          87.27
temperature                            NaN
age                                    NaN
discoverymethod                    transit
discoveryyear                       2018.0
lastupdate                        18/09/18
system_rightascension  05 37 09.8851202601
system_declination     -80 28 08.831347245
system_distance                      18.27
hoststar_mass                        1.094
hoststar_radius                        1.1
hoststar_metallicity                  0.08
hoststar_temperature                6037.0
hoststar_age                          2.98
list                     Confirmed planets